<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpvJeAPMzf8cHS6prKkkXLDbVTC1xFYiA</string>
	<key>GCM_SENDER_ID</key>
	<string>95344988502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safetymarcus.shifttracker</string>
	<key>PROJECT_ID</key>
	<string>shifttracker-78f59</string>
	<key>STORAGE_BUCKET</key>
	<string>shifttracker-78f59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95344988502:ios:b2f077921d3785caf746f7</string>
</dict>
</plist>